<div class="row" style="margin-top: 84px;">
  <div class="col-md-1  mt-2 mb-3" >

  </div> 
  <div class="col-md-4  align-middle mt-2 mb-3 "  >
      <!-- <img class="sticky  " src="../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="Avatar"> -->
    <lib-ngx-image-zoom 
       
        [thumbImage]=myThumbnail
        [fullImage]=myFullresImage
        zoomMode="hover"
        [magnification]="2"
        [enableScrollZoom]="true"
        [enableLens]="true"
        [lensWidth]="100"
      >
    </lib-ngx-image-zoom>
  </div>

   
  <div class="column mb" >
    <h2 class="phn-name mt-3">APPLE iPhone 11 (Black, 64 GB)</h2>
    <p class="rating">Ratings & 9,917 Reviews</p>
    <p class="extra">Extra ₹5910 off </p>
    <div class="mt-3">
     <span class="number">37,999</span> <span class="off">13% off</span>
    </div>
    <p class="packaging mt-1">+ ₹29 Secured Packaging Fee</p>
    <h3 class="offer">Available offers</h3>
    <div class="mt-3">
     <span class="bnk-ofr">Bank Offer</span><span class="tc" >10% upto ₹1000 off on AXIS Bank Credit Card Non EMI Transaction</span><span class="term">T&C</span>
    </div>
    <div class="mt-3">
      <span class="bnk-ofr">Bank Offer</span> <span class="tc"> 10% off upto ₹500 on UPI Transactions</span><span class="term">T&C</span>
    </div>  
    <div class="mt-3">
      <span class="bnk-ofr">Bank Offer</span> <span class="tc">5% Cashback on Flipkart Axis Bank Card</span><span class="term">T&C</span>
    </div>   
    <div class="mt-3">
      <span class="bnk-ofr">Special PriceGet extra</span> <span class="tc"> ₹5901 off (price inclusive of cashback/coupon)</span><span class="term">T&C</span>
    </div>   
    <h4 class="viewmore mt-2">View 3 more offers</h4>

    <div class="exchange-box">
      <label for="BUY_WITHOUT_EXCHANGE" class="label">
      <input type="radio" class="_3DAmyP" name="exchange-options" readonly="" id="BUY_WITHOUT_EXCHANGE" checked="">
      <div class="_1XFPmK"></div><div class="buy"><div data-disabled="false" data-checked="true">
      <div class="_2CxnBI"><div>Buy without Exchange</div><div class="amount">₹11,999</div></div></div></div></label>

      <label for="BUY_WITHOUT_EXCHANGE" class="labell">
      <input type="radio" class="_3DAmyP" name="exchange-options" readonly="" id="BUY_WITHOUT_EXCHANGE" checked="">
      <div class="_1XFPmK"></div><div class="buy"><div data-disabled="false" data-checked="true">
      <div class="_2CxnBI"><div>Buy without Exchange</div><div class="amount-off">up to ₹11,999 off</div></div></div></div></label>
    </div>

        
        


        
  </div>

   
   
</div>

<div>
    
    <button mat-flat-button  class="btn" color="primary">ADD TO CART</button>&nbsp;
    <button mat-flat-button class="bttn" color="warn">BUY NOW</button>
</div>

<div class="row mb-3 mt-3 shadow-sm p-3 mb-5 bg-white rounded"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
    <div class="header">
        <h2>Similar Products</h2>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
        <h1 class="pro-name">I Phone</h1>
        <p class="price">$19.99</p>
        <p  class="pro-name">Add to Cart</p>
      </div>
    </div>
    <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
     
      
    
</div>

<div class="row mb-3 mt-3 shadow-sm p-3 mb-5 bg-white rounded"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
    <div class="col-md-2">
      <div class="card">
        <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
        <h1 class="pro-name">I Phone</h1>
        <p class="price">$19.99</p>
        <p  class="pro-name">Add to Cart</p>
      </div>
    </div>
    <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
     
      
    
</div>

<div class="row mb-3 mt-3 shadow-sm p-3 mb-5 bg-white rounded"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
    <div class="col-md-2">
      <div class="card">
        <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
        <h1 class="pro-name">I Phone</h1>
        <p class="price">$19.99</p>
        <p  class="pro-name">Add to Cart</p>
      </div>
    </div>
    <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
     
      
    
</div>

<div class="row mb-3 mt-3 shadow-sm p-3 mb-5 bg-white rounded"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
 
   
  <ng-image-slider #nav
  [images]="imageObject"
  [infinite]="false"
  [autoSlide]="1"
  [imageSize]="{width: '300px', height: '250px',space: 8}"
  slideImage="1"></ng-image-slider>
  
</div>









