

<div class="row">
    <div class="col-md-1  mt-2 mb-3" ></div> 
    <div class="col-md-4  align-middle mt-2 mb-3 "  >
      <!-- <img class="sticky  " src="../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="Avatar"> -->
      <lib-ngx-image-zoom 
       
        [thumbImage]=myThumbnail
        [fullImage]=myFullresImage
        zoomMode="hover"
        [magnification]="2"
        [enableScrollZoom]="true"
        [enableLens]="true"
        [lensWidth]="100"
      ></lib-ngx-image-zoom>
    </div>

   
    <div class="column mb" >
        <h2>APPLE iPhone 11 (Black, 64 GB)</h2>
        <p>Ratings & 9,917 Reviews</p>
        <p>Extra ₹5910 off </p>
        <div >
            <span class="">37,999</span> <span class="">13% off</span>
        </div>
        <p>+ ₹29 Secured Packaging Fee</p>
        <h3>>Available offers</h3>

        <p>Bank Offer10% upto ₹1000 off on AXIS Bank Credit Card Non EMI TransactionT&C</p>

        <p>Bank Offer10% off upto ₹500 on UPI TransactionsT&C</p>

        <p>Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>

        <p>Special PriceGet extra ₹5901 off (price inclusive of cashback/coupon)T&C</p>
        <h4>View 3 more offers</h4>


        <h2>APPLE iPhone 11 (Black, 64 GB)</h2>
        <p>Ratings & 9,917 Reviews</p>
        <p>Extra ₹5910 off </p>
        <div >
            <span class="">37,999</span> <span class="">13% off</span>
        </div>
        <p>+ ₹29 Secured Packaging Fee</p>
        <h3>>Available offers</h3>

        <p>Bank Offer10% upto ₹1000 off on AXIS Bank Credit Card Non EMI TransactionT&C</p>

        <p>Bank Offer10% off upto ₹500 on UPI TransactionsT&C</p>

        <p>Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>

        <p>Special PriceGet extra ₹5901 off (price inclusive of cashback/coupon)T&C</p>
        <h4>View 3 more offers</h4>


        <h2>APPLE iPhone 11 (Black, 64 GB)</h2>
        <p>Ratings & 9,917 Reviews</p>
        <p>Extra ₹5910 off </p>
        <div >
            <span class="">37,999</span> <span class="">13% off</span>
        </div>
        <p>+ ₹29 Secured Packaging Fee</p>
        <h3>>Available offers</h3>

        <p>Bank Offer10% upto ₹1000 off on AXIS Bank Credit Card Non EMI TransactionT&C</p>

        <p>Bank Offer10% off upto ₹500 on UPI TransactionsT&C</p>

        <p>Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>

        <p>Special PriceGet extra ₹5901 off (price inclusive of cashback/coupon)T&C</p>
        <h4>View 3 more offers</h4>

        <h2>APPLE iPhone 11 (Black, 64 GB)</h2>
        <p>Ratings & 9,917 Reviews</p>
        <p>Extra ₹5910 off </p>
        <div >
            <span class="">37,999</span> <span class="">13% off</span>
        </div>
        <p>+ ₹29 Secured Packaging Fee</p>
        <h3>>Available offers</h3>

        <p>Bank Offer10% upto ₹1000 off on AXIS Bank Credit Card Non EMI TransactionT&C</p>

        <p>Bank Offer10% off upto ₹500 on UPI TransactionsT&C</p>

        <p>Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>

        <p>Special PriceGet extra ₹5901 off (price inclusive of cashback/coupon)T&C</p>
        <h4>View 3 more offers</h4>

        <h2>APPLE iPhone 11 (Black, 64 GB)</h2>
        <p>Ratings & 9,917 Reviews</p>
        <p>Extra ₹5910 off </p>
        <div >
            <span class="">37,999</span> <span class="">13% off</span>
        </div>
        <p>+ ₹29 Secured Packaging Fee</p>
        <h3>>Available offers</h3>

        <p>Bank Offer10% upto ₹1000 off on AXIS Bank Credit Card Non EMI TransactionT&C</p>

        <p>Bank Offer10% off upto ₹500 on UPI TransactionsT&C</p>

        <p>Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>

        <p>Special PriceGet extra ₹5901 off (price inclusive of cashback/coupon)T&C</p>
        <h4>View 3 more offers</h4>



        <h2>APPLE iPhone 11 (Black, 64 GB)</h2>
        <p>Ratings & 9,917 Reviews</p>
        <p>Extra ₹5910 off </p>
        <div >
            <span class="">37,999</span> <span class="">13% off</span>
        </div>
        <p>+ ₹29 Secured Packaging Fee</p>
        <h3>>Available offers</h3>

        <p>Bank Offer10% upto ₹1000 off on AXIS Bank Credit Card Non EMI TransactionT&C</p>

        <p>Bank Offer10% off upto ₹500 on UPI TransactionsT&C</p>

        <p>Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>

        <p>Special PriceGet extra ₹5901 off (price inclusive of cashback/coupon)T&C</p>
        <h4>View 3 more offers</h4>

        <h2>APPLE iPhone 11 (Black, 64 GB)</h2>
        <p>Ratings & 9,917 Reviews</p>
        <p>Extra ₹5910 off </p>
        <div >
            <span class="">37,999</span> <span class="">13% off</span>
        </div>
        <p>+ ₹29 Secured Packaging Fee</p>
        <h3>>Available offers</h3>

        <p>Bank Offer10% upto ₹1000 off on AXIS Bank Credit Card Non EMI TransactionT&C</p>

        <p>Bank Offer10% off upto ₹500 on UPI TransactionsT&C</p>

        <p>Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>

        <p>Special PriceGet extra ₹5901 off (price inclusive of cashback/coupon)T&C</p>
        <h4>View 3 more offers</h4>


        
    </div>

   
   
</div>

<div>
    <button mat-flat-button  class="btn"color="warn">ADD TO CART</button>&nbsp;
    <button mat-flat-button class="bttn" color="warn">BUY NOW</button>
</div>

<div class="row mb-3 mt-3 shadow-sm p-3 mb-5 bg-white rounded"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
    <div class="header">
        <h2>Similar Products</h2>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
        <h1 class="pro-name">I Phone</h1>
        <p class="price">$19.99</p>
        <p  class="pro-name">Add to Cart</p>
      </div>
    </div>
    <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
     
      
    
</div>

<div class="row mb-3 mt-3 shadow-sm p-3 mb-5 bg-white rounded"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
    <div class="col-md-2">
      <div class="card">
        <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
        <h1 class="pro-name">I Phone</h1>
        <p class="price">$19.99</p>
        <p  class="pro-name">Add to Cart</p>
      </div>
    </div>
    <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
     
      
    
</div>

<div class="row mb-3 mt-3 shadow-sm p-3 mb-5 bg-white rounded"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
    <div class="col-md-2">
      <div class="card">
        <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
        <h1 class="pro-name">I Phone</h1>
        <p class="price">$19.99</p>
        <p  class="pro-name">Add to Cart</p>
      </div>
    </div>
    <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="../../../assets/phone Image 2022-11-04 at 11.55.28 AM.jpeg" alt="Denim Jeans" style="width:100%">
          <h1 class="pro-name">I Phone</h1>
          <p class="price">$19.99</p>
          <p  class="pro-name">Add to Cart</p>
        </div>
      </div>
     
      
    
</div>





