<!-- Side navigation -->
<div class="sidenav  shadow p-3 mb-5 bg-body rounded">
    <div class="  ">
  
      <div class="header-text">
        <h3>Filters</h3>
      </div>
      <hr>
      <div class="categories">
        <span>CATEGORIES</span>
        <h4>Mobile</h4>
      </div>
      <hr>
      <div class="range">
        <h4>Price</h4>
        <section class="example-section" >
            <label class="example-margin">Progress:</label>
            <mat-slider class="example-margin" [(ngModel)]="value"></mat-slider>
            
        </section>
      </div>
      <hr>
      <div class="brand">
        <h3>Brand</h3>
      </div>
      <hr>
      <div class="rating">
        <h3>Rating</h3>
      </div>
      <hr>
  
  
  
    </div>
   
  </div>
  
  <!-- Page content -->
  
  <div class="main">
    
    <div class="row mb-3 mt-3"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
     
        <h2>Showing 1 – 24 of 8,920 results for "mobiles"</h2>
      
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Relevance">
            <div class="row mb-3 mt-3" routerLink="/mobile-store/buy-mobile" style="background-color: #ffff; width: 98%; margin-left: 15px;">
        
              <div class="col-md-2">
                <img src="./../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="">
              </div>
              <div class="col-md-3">
               
                 
                <p class=phn-tittle>APPLE iPhone 11 (Black, 128 GB)</p>
                  
                <div class="fMghEO">
                  <ul class="_1xgFaf">
                    <li class="rgWa7D">128 GB ROM</li>
                    <li class="rgWa7D">15.49 cm (6.1 inch) Liquid Retina HD Display</li>
                    <li class="rgWa7D">12MP + 12MP | 12MP Front Camera</li>
                    <li class="rgWa7D">A13 Bionic Chip Processor</li>
                    <li class="rgWa7D">Brand Warranty of 1 Year</li>
                  </ul>
                </div>
               
              </div>
              <div class="col-md-7">
                <div style="margin-left: 298px;">
                  <strong>
                    <div class="amount">₹42,999</div>
                  </strong>
                  <div >
                    <span class="amntoff">48,000</span> <span class="offamnt">12% off</span>
                  </div>
                  <div>
                    <p class="freedel">Free delivery</p>
                  </div>
                  
                  <div class="mrng">
                  <strong style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">Upto </strong>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 700;">₹17,500 </span>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">off on Exchange</span> 
                  </div>
                  
                  <div>
                    <strong class="bankoffer">Bank offer</strong>
                    </div>
                </div>
                
              </div>
            
             </div>
             <div class="row mb-3 mt-3"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
        
              <div class="col-md-2">
                <img src="./../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="">
              </div>
              <div class="col-md-3">
               
                 
                <p class=phn-tittle>APPLE iPhone 11 (Black, 128 GB)</p>
                  
                <div class="fMghEO">
                  <ul class="_1xgFaf">
                    <li class="rgWa7D">128 GB ROM</li>
                    <li class="rgWa7D">15.49 cm (6.1 inch) Liquid Retina HD Display</li>
                    <li class="rgWa7D">12MP + 12MP | 12MP Front Camera</li>
                    <li class="rgWa7D">A13 Bionic Chip Processor</li>
                    <li class="rgWa7D">Brand Warranty of 1 Year</li>
                  </ul>
                </div>
               
              </div>
              <div class="col-md-7">
                <div style="margin-left: 298px;">
                  <strong>
                    <div class="amount">₹42,999</div>
                  </strong>
                  <div >
                    <span class="amntoff">48,000</span> <span class="offamnt">12% off</span>
                  </div>
                  <div>
                    <p class="freedel">Free delivery</p>
                  </div>
                  
                  <div class="mrng">
                  <strong style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">Upto </strong>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 700;">₹17,500 </span>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">off on Exchange</span> 
                  </div>
                  
                  <div>
                    <strong class="bankoffer">Bank offer</strong>
                    </div>
                </div>
                
              </div>
            
             </div>
          </mat-tab>
          <mat-tab label="Popularity">
           <div class="row mb-3 mt-3"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
        
            <div class="col-md-2">
              <img src="./../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="">
            </div>
            <div class="col-md-3">
             
               
              <p class=phn-tittle>APPLE iPhone 11 (Black, 128 GB)</p>
                
              <div class="fMghEO">
                <ul class="_1xgFaf">
                  <li class="rgWa7D">128 GB ROM</li>
                  <li class="rgWa7D">15.49 cm (6.1 inch) Liquid Retina HD Display</li>
                  <li class="rgWa7D">12MP + 12MP | 12MP Front Camera</li>
                  <li class="rgWa7D">A13 Bionic Chip Processor</li>
                  <li class="rgWa7D">Brand Warranty of 1 Year</li>
                </ul>
              </div>
             
            </div>
            <div class="col-md-7">
              <div style="margin-left: 298px;">
                <strong>
                  <div class="amount">₹42,999</div>
                </strong>
                <div >
                  <span class="amntoff">48,000</span> <span class="offamnt">12% off</span>
                </div>
                <div>
                  <p class="freedel">Free delivery</p>
                </div>
                
                <div class="mrng">
                <strong style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">Upto </strong>
                <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 700;">₹17,500 </span>
                <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">off on Exchange</span> 
                </div>
                
                <div>
                  <strong class="bankoffer">Bank offer</strong>
                  </div>
              </div>
              
            </div>
          
           </div>
           <div class="row mb-3 mt-3"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
        
            <div class="col-md-2">
              <img src="./../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="">
            </div>
            <div class="col-md-3">
             
               
              <p class=phn-tittle>APPLE iPhone 11 (Black, 128 GB)</p>
                
              <div class="fMghEO">
                <ul class="_1xgFaf">
                  <li class="rgWa7D">128 GB ROM</li>
                  <li class="rgWa7D">15.49 cm (6.1 inch) Liquid Retina HD Display</li>
                  <li class="rgWa7D">12MP + 12MP | 12MP Front Camera</li>
                  <li class="rgWa7D">A13 Bionic Chip Processor</li>
                  <li class="rgWa7D">Brand Warranty of 1 Year</li>
                </ul>
              </div>
             
            </div>
            <div class="col-md-7">
              <div style="margin-left: 298px;">
                <strong>
                  <div class="amount">₹42,999</div>
                </strong>
                <div >
                  <span class="amntoff">48,000</span> <span class="offamnt">12% off</span>
                </div>
                <div>
                  <p class="freedel">Free delivery</p>
                </div>
                
                <div class="mrng">
                <strong style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">Upto </strong>
                <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 700;">₹17,500 </span>
                <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">off on Exchange</span> 
                </div>
                
                <div>
                  <strong class="bankoffer">Bank offer</strong>
                  </div>
              </div>
              
            </div>
          
           </div></mat-tab>
          <mat-tab label="Price--Low to High">
            <div class="row mb-3 mt-3"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
        
              <div class="col-md-2">
                <img src="./../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="">
              </div>
              <div class="col-md-3">
               
                 
                <p class=phn-tittle>APPLE iPhone 11 (Black, 128 GB)</p>
                  
                <div class="fMghEO">
                  <ul class="_1xgFaf">
                    <li class="rgWa7D">128 GB ROM</li>
                    <li class="rgWa7D">15.49 cm (6.1 inch) Liquid Retina HD Display</li>
                    <li class="rgWa7D">12MP + 12MP | 12MP Front Camera</li>
                    <li class="rgWa7D">A13 Bionic Chip Processor</li>
                    <li class="rgWa7D">Brand Warranty of 1 Year</li>
                  </ul>
                </div>
               
              </div>
              <div class="col-md-7">
                <div style="margin-left: 298px;">
                  <strong>
                    <div class="amount">₹42,999</div>
                  </strong>
                  <div >
                    <span class="amntoff">48,000</span> <span class="offamnt">12% off</span>
                  </div>
                  <div>
                    <p class="freedel">Free delivery</p>
                  </div>
                  
                  <div class="mrng">
                  <strong style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">Upto </strong>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 700;">₹17,500 </span>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">off on Exchange</span> 
                  </div>
                  
                  <div>
                    <strong class="bankoffer">Bank offer</strong>
                    </div>
                </div>
                
              </div>
            
            </div>
            <div class="row mb-3 mt-3"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
        
              <div class="col-md-2">
                <img src="./../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="">
              </div>
              <div class="col-md-3">
               
                 
                <p class=phn-tittle>APPLE iPhone 11 (Black, 128 GB)</p>
                  
                <div class="fMghEO">
                  <ul class="_1xgFaf">
                    <li class="rgWa7D">128 GB ROM</li>
                    <li class="rgWa7D">15.49 cm (6.1 inch) Liquid Retina HD Display</li>
                    <li class="rgWa7D">12MP + 12MP | 12MP Front Camera</li>
                    <li class="rgWa7D">A13 Bionic Chip Processor</li>
                    <li class="rgWa7D">Brand Warranty of 1 Year</li>
                  </ul>
                </div>
               
              </div>
              <div class="col-md-7">
                <div style="margin-left: 298px;">
                  <strong>
                    <div class="amount">₹42,999</div>
                  </strong>
                  <div >
                    <span class="amntoff">48,000</span> <span class="offamnt">12% off</span>
                  </div>
                  <div>
                    <p class="freedel">Free delivery</p>
                  </div>
                  
                  <div class="mrng">
                  <strong style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">Upto </strong>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 700;">₹17,500 </span>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">off on Exchange</span> 
                  </div>
                  
                  <div>
                    <strong class="bankoffer">Bank offer</strong>
                    </div>
                </div>
                
              </div>
            
            </div>
          </mat-tab>
          <mat-tab label="Price--High to Low">
            <div class="row mb-3 mt-3"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
        
              <div class="col-md-2">
                <img src="./../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="">
              </div>
              <div class="col-md-3">
               
                 
                <p class=phn-tittle>APPLE iPhone 11 (Black, 128 GB)</p>
                  
                <div class="fMghEO">
                  <ul class="_1xgFaf">
                    <li class="rgWa7D">128 GB ROM</li>
                    <li class="rgWa7D">15.49 cm (6.1 inch) Liquid Retina HD Display</li>
                    <li class="rgWa7D">12MP + 12MP | 12MP Front Camera</li>
                    <li class="rgWa7D">A13 Bionic Chip Processor</li>
                    <li class="rgWa7D">Brand Warranty of 1 Year</li>
                  </ul>
                </div>
               
              </div>
              <div class="col-md-7">
                <div style="margin-left: 298px;">
                  <strong>
                    <div class="amount">₹42,999</div>
                  </strong>
                  <div >
                    <span class="amntoff">48,000</span> <span class="offamnt">12% off</span>
                  </div>
                  <div>
                    <p class="freedel">Free delivery</p>
                  </div>
                  
                  <div class="mrng">
                  <strong style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">Upto </strong>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 700;">₹17,500 </span>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">off on Exchange</span> 
                  </div>
                  
                  <div>
                    <strong class="bankoffer">Bank offer</strong>
                    </div>
                </div>
                
              </div>
            
            </div>
            <div class="row mb-3 mt-3"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
        
              <div class="col-md-2">
                <img src="./../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="">
              </div>
              <div class="col-md-3">
               
                 
                <p class=phn-tittle>APPLE iPhone 11 (Black, 128 GB)</p>
                  
                <div class="fMghEO">
                  <ul class="_1xgFaf">
                    <li class="rgWa7D">128 GB ROM</li>
                    <li class="rgWa7D">15.49 cm (6.1 inch) Liquid Retina HD Display</li>
                    <li class="rgWa7D">12MP + 12MP | 12MP Front Camera</li>
                    <li class="rgWa7D">A13 Bionic Chip Processor</li>
                    <li class="rgWa7D">Brand Warranty of 1 Year</li>
                  </ul>
                </div>
               
              </div>
              <div class="col-md-7">
                <div style="margin-left: 298px;">
                  <strong>
                    <div class="amount">₹42,999</div>
                  </strong>
                  <div >
                    <span class="amntoff">48,000</span> <span class="offamnt">12% off</span>
                  </div>
                  <div>
                    <p class="freedel">Free delivery</p>
                  </div>
                  
                  <div class="mrng">
                  <strong style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">Upto </strong>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 700;">₹17,500 </span>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">off on Exchange</span> 
                  </div>
                  
                  <div>
                    <strong class="bankoffer">Bank offer</strong>
                    </div>
                </div>
                
              </div>
            
            </div>
          </mat-tab>
          <mat-tab label="Newest First">
            <div class="row mb-3 mt-3"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
        
              <div class="col-md-2">
                <img src="./../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="">
              </div>
              <div class="col-md-3">
               
                 
                <p class=phn-tittle>APPLE iPhone 11 (Black, 128 GB)</p>
                  
                <div class="fMghEO">
                  <ul class="_1xgFaf">
                    <li class="rgWa7D">128 GB ROM</li>
                    <li class="rgWa7D">15.49 cm (6.1 inch) Liquid Retina HD Display</li>
                    <li class="rgWa7D">12MP + 12MP | 12MP Front Camera</li>
                    <li class="rgWa7D">A13 Bionic Chip Processor</li>
                    <li class="rgWa7D">Brand Warranty of 1 Year</li>
                  </ul>
                </div>
               
              </div>
              <div class="col-md-7">
                <div style="margin-left: 298px;">
                  <strong>
                    <div class="amount">₹42,999</div>
                  </strong>
                  <div >
                    <span class="amntoff">48,000</span> <span class="offamnt">12% off</span>
                  </div>
                  <div>
                    <p class="freedel">Free delivery</p>
                  </div>
                  
                  <div class="mrng">
                  <strong style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">Upto </strong>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 700;">₹17,500 </span>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">off on Exchange</span> 
                  </div>
                  
                  <div>
                    <strong class="bankoffer">Bank offer</strong>
                    </div>
                </div>
                
              </div>
            
            </div>
            <div class="row mb-3 mt-3"  style="background-color: #ffff; width: 98%; margin-left: 15px;">
        
              <div class="col-md-2">
                <img src="./../../../assets/i phone Image 2022-11-11 at 1.30.12 PM.jpeg" alt="">
              </div>
              <div class="col-md-3">
               
                 
                <p class=phn-tittle>APPLE iPhone 11 (Black, 128 GB)</p>
                  
                <div class="fMghEO">
                  <ul class="_1xgFaf">
                    <li class="rgWa7D">128 GB ROM</li>
                    <li class="rgWa7D">15.49 cm (6.1 inch) Liquid Retina HD Display</li>
                    <li class="rgWa7D">12MP + 12MP | 12MP Front Camera</li>
                    <li class="rgWa7D">A13 Bionic Chip Processor</li>
                    <li class="rgWa7D">Brand Warranty of 1 Year</li>
                  </ul>
                </div>
               
              </div>
              <div class="col-md-7">
                <div style="margin-left: 298px;">
                  <strong>
                    <div class="amount">₹42,999</div>
                  </strong>
                  <div >
                    <span class="amntoff">48,000</span> <span class="offamnt">12% off</span>
                  </div>
                  <div>
                    <p class="freedel">Free delivery</p>
                  </div>
                  
                  <div class="mrng">
                  <strong style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">Upto </strong>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 700;">₹17,500 </span>
                  <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-weight: 400;">off on Exchange</span> 
                  </div>
                  
                  <div>
                    <strong class="bankoffer">Bank offer</strong>
                    </div>
                </div>
                
              </div>
            
            </div>
          </mat-tab>
        </mat-tab-group>
  
        
   
   </div>
  
  </div>  
